In [1]:
print ("hello world")

hello world

In [2]:
print ("success")

success

In [3]:
print (2+2)

4

In [4]:
print (10*10)

100

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print("All packages imported successfully!")

All packages imported successfully!

In [4]:
print ("am here")

am here

In [5]:
import numpy as np

In [6]:
# Create an array of numbers
numbers = np.array([1, 5, 3, 8, 2])

# Calculate the average
average = np.mean(numbers)

# Display the result
print("The average of the numbers is:", average)

The average of the numbers is: 3.8

In [10]:
import pandas as pd

# Read the CSV file into a DataFrame
planets_df = pd.read_csv("planets_with_moons_all.csv")

# Display the first 5 rows
print(planets_df.head())

# Print information about the DataFrame
print(planets_df.info())

    Planet  Diameter (km)  Number of Moons
0  Mercury           4879                0
1    Venus          12104                0
2    Earth          12756                1
3     Mars           6792                2
4  Jupiter         142984               79
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Planet           8 non-null      object
 1   Diameter (km)    8 non-null      int64
 2   Number of Moons  8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes
None

In [7]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     |████████████████████████████████| 250 kB 3.8 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

# Read the CSV file into a DataFrame
transactions = pd.read_excel("amex.xlsx")

# Display the first 5 rows
print(transactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          411 non-null    object
 1   Description                   411 non-null    object
 2   Card Member                   411 non-null    object
 3   Account #                     411 non-null    int64
 4   Amount                        411 non-null    float64
 5   Extended Details              411 non-null    object
 6   Appears On Your Statement As  411 non-null    object
 7   Address                       390 non-null    object
 8   City/State                    390 non-null    object
 9   Zip Code                      390 non-null    object
 10  Country                       390 non-null    object
 11  Reference                     411 non-null    int64
 12  Category                      403 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 41.9+ KB
None

In [9]:
transactions[transactions['Amount'] > 100]

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,Country,Reference,Category
35,08/30/2025,WAL-MART SUPERCENTERELK GROVE VILLAGE IL,PAVAN TIPPARAJU,-1003,158.11,52422213314 DISCOUNT STORE\nWAL-MART SUPERCENT...,WAL-MART SUPERCENTERELK GROVE VILLAGE IL,801 MEACHAM RD,ELK GROVE VILLAGE\nIL,60007,UNITED STATES,320252420453141697,Merchandise & Supplies-Wholesale Stores
42,08/26/2025,Amazon Prime Amazon.com WA,PAVAN TIPPARAJU,-1003,139.00,69CMWA0EL5F SUBSCRIPTION\nAmazon Prime\nAmazon...,Amazon Prime Amazon.com WA,440 TERRY AVE NORTH,SEATTLE\nWA,98109,UNITED STATES,320252380334399730,Merchandise & Supplies-Mail Order
48,08/24/2025,PRIMARK WOODFIELD MASCHAUMBURG IL,PAVAN TIPPARAJU,-1003,132.55,069685211 347-937-1947\nPRIMARK WOODFIELD MA...,PRIMARK WOODFIELD MASCHAUMBURG IL,WOODFIELD MALL\n2 WOODFIELD MALL,SCHAUMBURG\nIL,60173,UNITED STATES,320252370320321011,Merchandise & Supplies-Clothing Stores
69,08/16/2025,AplPay DICK'S SPORTICORAOPOLIS PA,PAVAN TIPPARAJU,-1003,150.49,20250816002 SPORTING GOODS STORE\nAplPay DICK'...,AplPay DICK'S SPORTICORAOPOLIS PA,328 WEST ARMY TRL RD,BLOOMINGDALE\nIL,60108,UNITED STATES,320252280062061294,Merchandise & Supplies-Sporting Goods Stores
73,08/16/2025,TST* VANAM 300727179SCHAUMBURG IL,PAVAN TIPPARAJU,-1003,141.00,99999995228 8152019007\nTST* VANAM 300727179\n...,TST* VANAM 300727179SCHAUMBURG IL,337 WEST GOLF RD,SCHAUMBURG\nIL,60195-3607,UNITED STATES,320252280064268935,Restaurant-Restaurant
77,08/12/2025,TST* GLOBAL BREW TAPSCHAUMBURG IL,PAVAN TIPPARAJU,-1003,108.29,99999995224 2245208686\nTST* GLOBAL BREW TAP H...,TST* GLOBAL BREW TAPSCHAUMBURG IL,339 WEST GOLF RD,SCHAUMBURG\nIL,60195-3607,UNITED STATES,320252240953402633,Restaurant-Restaurant
131,07/18/2025,AplPay SHRI SHIRDI SRolling Meadows IL,PAVAN TIPPARAJU,-1003,251.00,xeDajJhmuTV squareup.com/receipts\nAplPay SHRI...,AplPay SHRI SHIRDI SRolling Meadows IL,5999 NEW WILKE RD\nBUILDING 3,ROLLING MEADOWS\nIL,60008,UNITED STATES,320251990264746196,Business Services-Other Services
179,06/20/2025,A+VEH REG RENEW SV#0SCHAUMBURG IL,PAVAN TIPPARAJU,-1003,160.50,21105175172 AUTO SERVICE\nA+VEH REG RENEW SV#0...,A+VEH REG RENEW SV#0SCHAUMBURG IL,1675 MITCHELL BLVD,SCHAUMBURG\nIL,60193,UNITED STATES,320251720513264767,Transportation-Auto Services
181,06/20/2025,FSP*GO APE BEMIS WOOFREDERICK MD,PAVAN TIPPARAJU,-1003,294.00,99999995172 8009718271\nFSP*GO APE BEMIS WOODS...,FSP*GO APE BEMIS WOOFREDERICK MD,241 EAST 4TH ST\nSTE 105 SUITE 105,FREDERICK\nMD,21701-3601,UNITED STATES,320251720500654778,Travel-Travel Agencies
184,06/19/2025,WOODFIELD NISSAN INCHOFFMAN ESTAT IL,PAVAN TIPPARAJU,-1003,116.10,32069415171 AUTO DEALER (NEW/USED\nWOODFIELD N...,WOODFIELD NISSAN INCHOFFMAN ESTAT IL,700 WEST HIGGINS RD,HOFFMAN ESTATES\nIL,60169,UNITED STATES,320251710461263799,Transportation-Vehicle Leasing & Purchase
206,06/06/2025,BEST BUY SCHAUMBURG IL,PAVAN TIPPARAJU,-1003,185.90,006405358 888BESTBUY\nBEST BUY\nSCHAUMBURG\n...,BEST BUY SCHAUMBURG IL,900 EAST GOLF RD BLDG\nJ,SCHAUMBURG\nIL,60173,UNITED STATES,320251580118686134,Merchandise & Supplies-Electronics Stores
214,06/03/2025,OLD NAVY US 5733 SCHAUMBURG IL,PAVAN TIPPARAJU,-1003,120.69,057334011650573340116540001 60173\nOLD NAVY US...,OLD NAVY US 5733 SCHAUMBURG IL,1498 GOLF RD,SCHAUMBURG\nIL,60173,UNITED STATES,320251550035515333,Merchandise & Supplies-Clothing Stores
226,05/27/2025,PY *TABLA MODERN INDSCHAUMBURG IL,PAVAN TIPPARAJU,-1003,246.34,99999995148 2247660982\nPY *TABLA MODERN INDIA...,PY *TABLA MODERN INDSCHAUMBURG IL,1091 NORTH SALEM DR,SCHAUMBURG\nIL,60194-1331,UNITED STATES,320251480829042971,Restaurant-Restaurant
263,05/10/2025,SHRI SHIRDI SAI MANDRolling Meadows IL,PAVAN TIPPARAJU,-1003,150.00,BqRGUM0gwuB squareup.com/receipts\nSHRI SHIRDI...,SHRI SHIRDI SAI MANDRolling Meadows IL,5999 NEW WILKE RD\nBUILDING 3,ROLLING MEADOWS\nIL,60008,UNITED STATES,320251300337923372,Business Services-Other Services
303,04/19/2025,SCHAUMBURG PARK DISTSCHAUMBURG IL,PAVAN TIPPARAJU,-1003,288.00,xiTfbkc4603 8479852115\nSCHAUMBURG PARK DISTRI...,SCHAUMBURG PARK DISTSCHAUMBURG IL,10182 TELESIS CT\nSTE 100,SAN DIEGO\nCA,92121-4777,UNITED STATES,320251100780395113,Other-Miscellaneous
324,04/11/2025,PATEL BROTHERS OF SCSCHAUMBURG IL,PAVAN TIPPARAJU,-1003,152.26,00010001005 8476754455\nPATEL BROTHERS OF SCHA...,PATEL BROTHERS OF SCSCHAUMBURG IL,830 WEST GOLF RD,SCHAUMBURG\nIL,60194,UNITED STATES,320251020563073144,Merchandise & Supplies-Groceries
363,03/21/2025,BEST BUY SCHAUMBURG IL,PAVAN TIPPARAJU,-1003,177.09,007002284 888BESTBUY\nBEST BUY\nSCHAUMBURG\n...,BEST BUY SCHAUMBURG IL,900 EAST GOLF RD BLDG\nJ,SCHAUMBURG\nIL,60173,UNITED STATES,320250800969124534,Merchandise & Supplies-Electronics Stores
371,03/16/2025,TST* GOLCONDA 001218NAPERVILLE IL,PAVAN TIPPARAJU,-1003,108.85,21105175076 RESTAURANT\nTST* GOLCONDA 00121828...,TST* GOLCONDA 001218NAPERVILLE IL,1568 WEST OGDEN AVE,NAPERVILLE\nIL,60540,UNITED STATES,320250760869401196,Restaurant-Restaurant
375,03/11/2025,AMAZON MARKEPLACE NA PA,PAVAN TIPPARAJU,-1003,174.89,55HH21E6E0M MERCHANDISE\nAMAZON MARKETPLACE NA...,AMAZON MARKETPLACE NAMZN.COM/BILL WA,410 TERRY AVE N,SEATTLE\nWA,98109,UNITED STATES,320250700712551937,Merchandise & Supplies-Internet Purchase
376,03/09/2025,AVEDA EXPERIENCE CENNEW YORK NY,PAVAN TIPPARAJU,-1003,126.60,00121809002 COSMETIC STORE\nAVEDA EXPERIENCE C...,AVEDA EXPERIENCE CENNEW YORK NY,1325 EAST WOODFIELD RD,SCHAUMBURG\nIL,60173-4931,UNITED STATES,320250680653126857,Merchandise & Supplies-Department Stores
393,02/17/2025,WAL-MART SUPERCENTERELK GROVE VILLAGE IL,PAVAN TIPPARAJU,-1003,106.86,50490019676 DISCOUNT STORE\nWAL-MART SUPERCENT...,WAL-MART SUPERCENTERELK GROVE VILLAGE IL,801 MEACHAM RD,ELK GROVE VILLAGE\nIL,60007,UNITED STATES,320250480128895852,Merchandise & Supplies-Wholesale Stores
394,02/15/2025,CORT FURNITURE RENTACHANTILLY VA,PAVAN TIPPARAJU,-1003,161.99,04634455987 888-360-2678\nCORT FURNITURE RENTA...,CORT FURNITURE RENTACHANTILLY VA,SUITE 110\n14850 CONFERENCECENTER DR,CHANTILLY\nVA,20151,UNITED STATES,320250470111295312,Merchandise & Supplies-Furnishing
396,02/15/2025,SCHAUMBURG PARK DISTSCHAUMBURG IL,PAVAN TIPPARAJU,-1003,379.00,xYuMwaGG778 8479852115\nSCHAUMBURG PARK DISTRI...,SCHAUMBURG PARK DISTSCHAUMBURG IL,10182 TELESIS CT\nSTE 100,SAN DIEGO\nCA,92121-4777,UNITED STATES,320250470099027500,Other-Miscellaneous

In [13]:
transactions[transactions['Card Member'] == "Pavan Tipparaju"]

Empty DataFrame
Columns: [Date, Description, Card Member, Account #, Amount, Extended Details, Appears On Your Statement As, Address, City/State, Zip Code, Country, Reference, Category]
Index: []

In [5]:
import pandas as pd

transactions = pd.read_excel("amex.xlsx")

df = pd.DataFrame(transactions, columns=['Amount', 'Date'])

print(df)

     Amount                 Date
0     46.51           09/20/2025
1    -10.99           09/20/2025
2     61.00           09/20/2025
3     23.57           09/18/2025
4     15.07           09/18/2025
..      ...                  ...
631    5.99  2025-01-07 00:00:00
632     NaN  2025-01-06 00:00:00
633   55.65  2025-01-04 00:00:00
634   29.44  2025-01-03 00:00:00
635   36.61  2025-01-02 00:00:00

[636 rows x 2 columns]

In [6]:
transactions['Date'] = pd.to_datetime(transactions['Date'])

# Group by month and sum the amounts
monthly_spend = transactions.groupby(transactions['Date'].dt.to_period('M'))['Amount'].sum()

# Display the results
print("Monthly Spending:")
for month, amount in monthly_spend.items():
    print(f"{month.strftime('%B %Y')} - ${amount:.2f}")

Monthly Spending:
January 2025 - $1200.87
February 2025 - $2286.01
March 2025 - $1860.39
April 2025 - $2117.07
May 2025 - $1948.73
June 2025 - $-1059.03
July 2025 - $2555.88
August 2025 - $1699.04
September 2025 - $-564.97

In [8]:
import pandas as pd
transactions = pd.read_excel("amex.xlsx")
amazon_transactions = transactions[transactions['Description'].str.contains('Amazon', case=False, na=False)]
print(amazon_transactions)

           Date                                 Description      Card Member  \
0    09/20/2025                     AMAZON MARKEPLACE NA PA  PAVAN TIPPARAJU
1    09/20/2025  AMAZON MARKETPLACE PAMZN.COM/BILL       WA  PAVAN TIPPARAJU
3    09/18/2025                     AMAZON MARKEPLACE NA PA  PAVAN TIPPARAJU
4    09/18/2025  AMAZON MARKETPLACE PAMZN.COM/BILL       WA  PAVAN TIPPARAJU
5    09/18/2025       Redeem Cash Back at Amazon.com Credit  PAVAN TIPPARAJU
..          ...                                         ...              ...
404  01/12/2025                     AMAZON MARKEPLACE NA PA  PAVAN TIPPARAJU
405  01/10/2025  AMAZON MARKETPLACE PAMZN.COM/BILL       WA  PAVAN TIPPARAJU
406  01/09/2025                     AMAZON MARKEPLACE NA PA  PAVAN TIPPARAJU
407  01/09/2025                     AMAZON MARKEPLACE NA PA  PAVAN TIPPARAJU
408  01/09/2025       Redeem Cash Back at Amazon.com Credit  PAVAN TIPPARAJU

     Account #  Amount                                   Extended Details  \
0      -1003.0   46.51  3L1O8NYQ9K2 MERCHANDISE\nAMAZON MARKETPLACE NA...
1      -1003.0  -10.99  1F7Z00ABJL7 AMZN.COM/BILL\nAMAZON MARKETPLACE ...
3      -1003.0   23.57  6QQMRYUFS5G MERCHANDISE\nAMAZON MARKETPLACE NA...
4      -1003.0   15.07  QRP8FD2TWB0 AMZN.COM/BILL\nAMAZON MARKETPLACE ...
5      -1003.0  -15.07            Redeem Cash Back at Amazon.com Credit\n
..         ...     ...                                                ...
404    -1003.0   36.22  7D1HHFPKSJV MERCHANDISE\nAMAZON MARKETPLACE NA...
405    -1003.0    3.15  EYWAOC2VYA1 AMZN.COM/BILL\nAMAZON MARKETPLACE ...
406    -1003.0    9.83  6IXO57XZLTA MERCHANDISE\nAMAZON MARKETPLACE NA...
407    -1003.0   19.75  15SZS74TOMF MERCHANDISE\nAMAZON MARKETPLACE NA...
408    -1003.0   -3.15            Redeem Cash Back at Amazon.com Credit\n

                   Appears On Your Statement As          Address   City/State  \
0    AMAZON MARKETPLACE NAMZN.COM/BILL       WA  410 TERRY AVE N  SEATTLE\nWA
1    AMAZON MARKETPLACE PAMZN.COM/BILL       WA  440 TERRY AVE N  SEATTLE\nWA
3    AMAZON MARKETPLACE NAMZN.COM/BILL       WA  410 TERRY AVE N  SEATTLE\nWA
4    AMAZON MARKETPLACE PAMZN.COM/BILL       WA  440 TERRY AVE N  SEATTLE\nWA
5         Redeem Cash Back at Amazon.com Credit              NaN          NaN
..                                          ...              ...          ...
404  AMAZON MARKETPLACE NAMZN.COM/BILL       WA  410 TERRY AVE N  SEATTLE\nWA
405  AMAZON MARKETPLACE PAMZN.COM/BILL       WA  440 TERRY AVE N  SEATTLE\nWA
406  AMAZON MARKETPLACE NAMZN.COM/BILL       WA  410 TERRY AVE N  SEATTLE\nWA
407  AMAZON MARKETPLACE NAMZN.COM/BILL       WA  410 TERRY AVE N  SEATTLE\nWA
408       Redeem Cash Back at Amazon.com Credit              NaN          NaN

    Zip Code        Country     Reference  \
0      98109  UNITED STATES  3.202526e+17
1      98109  UNITED STATES  3.202526e+17
3      98109  UNITED STATES  3.202526e+17
4      98109  UNITED STATES  3.202526e+17
5        NaN            NaN  3.202526e+17
..       ...            ...           ...
404    98109  UNITED STATES  3.202501e+17
405    98109  UNITED STATES  3.202501e+17
406    98109  UNITED STATES  3.202501e+17
407    98109  UNITED STATES  3.202501e+17
408      NaN            NaN  3.202501e+17

                                     Category
0    Merchandise & Supplies-Internet Purchase
1    Merchandise & Supplies-Internet Purchase
3    Merchandise & Supplies-Internet Purchase
4    Merchandise & Supplies-Internet Purchase
5       Fees & Adjustments-Fees & Adjustments
..                                        ...
404  Merchandise & Supplies-Internet Purchase
405  Merchandise & Supplies-Internet Purchase
406  Merchandise & Supplies-Internet Purchase
407  Merchandise & Supplies-Internet Purchase
408     Fees & Adjustments-Fees & Adjustments

[99 rows x 13 columns]